
#branch {
  position: fixed;
  top: 300px;
  left: 0px;
}

#bird1  {
  position: fixed;
  top: 10px;
  left: 10px;
}

#bird1 img {
  width: 150px;
}

#bird2  {
  position: fixed;
  top: 10px;
  left: 50px;
}